.search {
    -webkit-appearance: none;
    border: none;
    outline: none;
    padding: 10px;
    width: 200px;
    line-height: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    /* margin-left: 50%; */
    background: rgb(232, 232, 232);
    border-radius: 5px;
}